<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsyncVoid" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://seroter-tier3/IntegrationDays.SignalRDemo.BT/IntegrationDays_SignalRDemo_BT_ProcessInventoryRequest_ReceiveInventoryRequestPort.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsyncVoid"
        contract="LookupService.IntegrationDays_SignalRDemo_BT_ProcessInventoryRequest_ReceiveInventoryRequestPort"
        name="BasicHttpBinding_ITwoWayAsyncVoid" />
    </client>
    <services>
      <service behaviorConfiguration="HttpBehavior" name="IntegrationDays.SignalRDemo.AccidentAlertService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          name="BasicHttpEndpoint" contract="IntegrationDays.SignalRDemo.IAccidentAlertService" />
      </service>
      <service behaviorConfiguration="HttpBehavior" name="IntegrationDays.SignalRDemo.InventoryResponseService">
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          name="BasicHttpEndpoint" contract="IntegrationDays.SignalRDemo.IInventoryResponseService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
</configuration>